.key-features-container {
  position: relative;
  display: flex;
  align-items: center;
}

.key-features-scroll-container {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 10px 0;
  scroll-behavior: smooth;
  width: 100%;
}

.key-features-scroll-container .card {
  display: inline-block;
  margin: 0 10px;
  border: 1px solid #ddd;
  min-width: 300px;
  max-width: 300px;
  box-sizing: border-box;
}

.key-features-scroll-container .card-body {
  padding: 15px;
  text-align: left;
  word-wrap: break-word;
  white-space: normal;
}

.key-features-scroll-container .card-body p {
  margin: 0;
  overflow-wrap: break-word;
}

/* Chevron styling */
.key-features-chevron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #888;
  transition: color 0.3s ease;
}

/* Move the chevrons slightly outside the container */
.key-features-chevron.left {
  left: -30px; /* Move left chevron outside the container */
}

.key-features-chevron.right {
  right: -30px; /* Move right chevron outside the container */
}

.key-features-chevron:hover {
  color: #555; /* Change color on hover */
}

.key-features-scroll-container::-webkit-scrollbar {
  height: 8px;
}

.key-features-scroll-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.key-features-scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
